//colors
$Light-green: #7ed56f;
$Medium-green: #55c57a;
$Dark-green: #28b485;

$light-yellow:#ffb900;
$dark-orange:#ff7730;

$light-blue:#2998ff;
$dark-purple:#5643fa;

$color-light-grey-1: #f7f7f7;
$color-light-grey-2: #eee;

$color-white: #fff;
$color-grey: #777;
$color-black : #000;

//grid variables
$grid-width : 114rem;
$space-vertical: 8rem;
$space-horizontal : 6rem;

//